#nav{
    margin-left: 10px;
    margin-right: 18px;
    padding-left: 8px;
    padding-right: 18px;
}
#header{
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
}

#midDistribution{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
#midDistribution> p{
    padding: 1rem;
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
    text-align: center;
}
#contact > button{
    background-color: #6C63FF;
    border-radius: 0.6rem;
    border: 2px solid #6C63FF;
    color: white;
    font-size: large;
    height: 4rem;
    width: 7.3rem;
    margin-top: 25px;
    padding-right: 18px;
}
#logo{
    display: flex;
}
#logo> img{
    height: 63px;
    margin-top: 14px;

}
#logo > h1{
    font: xx-large;
    margin-top: 27px;
}
#mainaction{
    /* padding: 40px; */
    margin-left: 40px;
}
#image > img {
    height: 500px;
    width: 500px;
    border-radius: 3rem;
}
#inneraction{
    display: flex;
    justify-content: space-around;
}
#part1 > p{
    color: #6C63FF;
    font: bold;
    font-size: larger;
}
#part1 > h1{
    font: bold;
    font-size: xx-large;
}
#part2 > p{
    font-size: x-large;
    height: 200px;
    width: 550px;
    color: rgb(102, 102, 102);
}
td > button{
    height: 5rem;
    width: 9rem;
}   
td  {
    padding-right: 4rem; 
}
.btn1{
    background-color: #6C63FF;
    border: 2px solid #6C63FF;
    color: white;
    font-size: 1.2rem;
    border-radius: 1rem;

}
.btn2{
    background-color: rgb(69, 67, 67);
    border: 2px solid rgb(69, 67, 67);
    color: white;
    font-size: 1.2rem;
    border-radius: 1rem;
     
}
#card_section{
    text-align: center;
}
.top_Card{
    text-align: center;

}
.top_Card > p{
    color: rgb(69, 67, 67);
    text-align: center;
}

#below_cardSection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    margin-bottom: 2rem ;
    padding-bottom: 2rem;
    row-gap: 2rem;
    
}

#card{
    height: 200px;
    width: 280px;
    text-align: center;
    margin-left: 12rem;
    border-radius: 0.5rem;
    padding-top: 1rem ;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(227, 224, 224);
    
}

   
#card > span{
    border-radius: 2rem;
    background-color: rgb(227, 224, 224);
    font-size: xx-large;
}
.card1 > span{
    color: #6C63FF;
}
.card1{
    background-color: #6C63FF;
}
.card2 > span{
    color: rgb(197, 97, 121);
}
.card2{
    background-color: rgb(197, 97, 121);;
}
.card3 > span{
    color: #F4A623;
}
.card3{
    background-color: #F4A623;
}
.card4 > span{
    color: #1EB3B3;
}
.card4{
    background-color: #1EB3B3;
}
.card5 > span{
    color: #4CAF50;
}
.card5{
    background-color: #4CAF50;
}
.card6 > span{
    color: #5C6BC0;
}
.card6{
    background-color: #5C6BC0;
}

.belowtestimonal > img{
    height: 100px;
    width: 100px;
    border-radius: 50%;

}
.belowtestimonal > h4{
    color: #5C6BC0;

}
#testimonal{
    text-align: center;
    margin-left: 12rem;
}
.testimonal_Cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* border: 2px solid grey; */
    /* justify-content: space-between; */
}
.testimonal_card1{
    border: 2px solid silver;
      height: 260px;
    width: 320px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow:
  1px 1px silver,
  -0.2em -0.2em 0.4em silver;

}
.testimonal_card2{
    border: 2px solid silver;
    height: 260px;
    width: 320px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow:
  1px 1px silver,
  -0.2em -0.2em 0.4em silver;

}
.testimonal_card3{
    border: 2px solid silver;
    height: 260px;
    width: 320px;
    font-size: 0.8rem;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow:
  1px 1px silver,
  -0.2em -0.2em 0.4em silver;

}


@media (max-width: 1150px) {
    #contact > button {
        /* Mobile styles */
        background-color: #6C63FF;
        border-radius: 0.3rem;
        border: 2px solid #6C63FF;
        color: white;
        font-size: xx-small;
        height: 3.3rem; 
        width: 6rem;
        margin-top: 18px;
        margin-right: 1rem;
        padding-right: 2rem;
    }
    
}
@media (max-width: 400px) {
    #contact > button {
        /* Mobile styles */
        background-color: #6C63FF;
        border-radius: 0.3rem;
        border: 2px solid #6C63FF;
        color: white;
        font-size: xx-small;
        height: 2.7rem; 
        width: 2.7rem;
        margin-top: 20px;
        margin-right: 1.5rem;
        padding-right: 2rem ;
    }
  #logo{
    margin-left: 8px  !important;
    padding-left: 4px !important;
  }
  #image>img{
    height: 300px;
    width: 300px;
    padding-right: 2rem;
    margin-right: 2rem;
    /* padding-left: 2rem;
    margin-left: 2rem ; */
  }

}


